<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Felix/school/University/Winter_2018/COEN346/COEN346Assignments/Ass3_2018/Ass3_2018.xcodeproj</string>
</dict>
</plist>
